# NB summary:
This nb 
1. Uses selenium to launch a browser
1. the user then carries out manual steps
    1. The user logs in with their own credentials, and navigates to a page with a region dropdown
    1. The user selects a region, and hides all non-selected countries
1. selenium finds the buttons with the selected countries
1. IDs that are consistent with the data as delivered are available in the app. selenium pulls the country names and iso values associated with each selected button
1. user repeats for each region

Shortcoming: WW-MAJOR is not available in the web app. We may just want to ignore that one

## Another route tried: get it from their documentation?

Dissuaded because web app disagrees with documentation. Favor web app since the html references the same IDs they give us for country iso

[on this support page](https://support.demandbase.com/hc/en-us/articles/4405108793499-Reference-Directory-of-Geotargeting-Regions-and-Countries?t) they include Mexica in North America, which they don't on their app

In [162]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

driver = webdriver.Chrome()
wait = WebDriverWait(driver, 3)

# Navigate to page
driver.get("https://apptopia.com")

# then manually login, click a region and show only selected

# Get all countries in the same object

In [78]:
# this xpath from the chrome select menu
es = driver.find_elements(By.XPATH,'//*[@id="portal-root-dropdown"]/div/ul/div[3]')
es

In [ ]:
  # Works around HTTP/2 protocol errors[3][11]

# Get one country at a time, so I can get the iso code

In [85]:
es = driver.find_elements(By.XPATH,'//*[@id="portal-root-dropdown"]/div/ul/div[3]/li[5]/div/div')

In [87]:
# this xpath from the chrome select menu
es = driver.find_elements(By.XPATH, "//div[contains(@class, 'dropdown-menu')]//li")
print(len(es))

39

## Apac

In [139]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

35

In [149]:
df = pd.DataFrame([(e.text,e.get_attribute('for')) for e in es])
df.to_csv("/Users/ahakso/Desktop/maps/apac.csv",index=False)

In [150]:
df

                                   0        1
0                          Worldwide     None
1                      North America  NORTHAM
2                              LATAM    LATAM
3                               APAC     APAC
4                               EMEA     EMEA
5                 Show Only Selected     None
6                          Australia       AU
7                         Bangladesh       BD
8                             Bhutan       BT
9                  Brunei Darussalam       BN
10                          Cambodia       KH
11                             China       CN
12                              Fiji       FJ
13                         Hong Kong       HK
14                             India       IN
15                         Indonesia       ID
16                             Japan       JP
17                             Korea       KR
18  Lao People's Democratic Republic       LA
19                             Macao       MO
20                          Malaysia       MY
21                        Micronesia       FM
22                          Mongolia       MN
23                             Nepal       NP
24                       New Zealand       NZ
25                          Pakistan       PK
26                             Palau       PW
27                  Papua New Guinea       PG
28                       Philippines       PH
29                         Singapore       SG
30                   Solomon Islands       SB
31                         Sri Lanka       LK
32                            Taiwan       TW
33                          Thailand       TH
34                           Vietnam       VN

## northam

In [152]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

8

In [153]:
df = pd.DataFrame([(e.text,e.get_attribute('for')) for e in es])
df.to_csv("/Users/ahakso/Desktop/maps/north-am.csv",index=False)
df

                    0        1
0           Worldwide     None
1       North America  NORTHAM
2               LATAM    LATAM
3                APAC     APAC
4                EMEA     EMEA
5  Show Only Selected     None
6       United States       US
7              Canada       CA

## latam

In [154]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

44

In [155]:
df = pd.DataFrame([(e.text,e.get_attribute('for')) for e in es])
df.to_csv("/Users/ahakso/Desktop/maps/latam.csv",index=False)
df

                                   0        1
0                          Worldwide     None
1                      North America  NORTHAM
2                              LATAM    LATAM
3                               APAC     APAC
4                               EMEA     EMEA
5                 Show Only Selected     None
6                           Anguilla       AI
7                Antigua and Barbuda       AG
8                          Argentina       AR
9                            Bahamas       BS
10                          Barbados       BB
11                            Belize       BZ
12                           Bermuda       BM
13                           Bolivia       BO
14                            Brazil       BR
15                    Cayman Islands       KY
16                             Chile       CL
17                          Colombia       CO
18                        Costa Rica       CR
19                          Dominica       DM
20                Dominican Republic       DO
21                           Ecuador       EC
22                       El Salvador       SV
23                           Grenada       GD
24                         Guatemala       GT
25                            Guyana       GY
26                          Honduras       HN
27                           Jamaica       JM
28                            Mexico       MX
29                        Montserrat       MS
30                         Nicaragua       NI
31                            Panama       PA
32                          Paraguay       PY
33                              Peru       PE
34                       Puerto Rico       PR
35             Saint Kitts And Nevis       KN
36                       Saint Lucia       LC
37  Saint Vincent And The Grenedines       VC
38                          Suriname       SR
39               Trinidad and Tobago       TT
40          Turks and Caicos Islands       TC
41                           Uruguay       UY
42                         Venezuela       VE
43                    Virgin Islands       VG

## emea

In [156]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

99

In [157]:
df = pd.DataFrame([(e.text,e.get_attribute('for')) for e in es])
df.to_csv("/Users/ahakso/Desktop/maps/emea.csv",index=False)
df

                         0        1
0                Worldwide     None
1            North America  NORTHAM
2                    LATAM    LATAM
3                     APAC     APAC
4                     EMEA     EMEA
5       Show Only Selected     None
6                  Albania       AL
7                  Algeria       DZ
8                   Angola       AO
9                  Armenia       AM
10                 Austria       AT
11              Azerbaijan       AZ
12                 Bahrain       BH
13                 Belarus       BY
14                 Belgium       BE
15                   Benin       BJ
16  Bosnia and Herzegovina       BA
17                Botswana       BW
18                Bulgaria       BG
19            Burkina Faso       BF
20              Cape Verde       CV
21                    Chad       TD
22                   Congo       CG
23                 Croatia       HR
24                  Cyprus       CY
25          Czech Republic       CZ
26                 Denmark       DK
27                   Egypt       EG
28                 Estonia       EE
29                 Finland       FI
30                  France       FR
31                  Gambia       GM
32                 Germany       DE
33                   Ghana       GH
34                  Greece       GR
35           Guinea-Bissau       GW
36                 Hungary       HU
37                 Iceland       IS
38                    Iran       IR
39                    Iraq       IQ
40                 Ireland       IE
41                  Israel       IL
42                   Italy       IT
43                  Jordan       JO
44              Kazakhstan       KZ
45                   Kenya       KE
46                  Kuwait       KW
47              Kyrgyzstan       KG
48                  Latvia       LV
49                 Lebanon       LB
50                 Liberia       LR
51               Lithuania       LT
52              Luxembourg       LU
53               Macedonia       MK
54              Madagascar       MG
55                  Malawi       MW
56                    Mali       ML
57                   Malta       MT
58              Mauritania       MR
59               Mauritius       MU
60                 Moldova       MD
61                 Morocco       MA
62              Mozambique       MZ
63                 Namibia       NA
64             Netherlands       NL
65                   Niger       NE
66                 Nigeria       NG
67                  Norway       NO
68                    Oman       OM
69                  Poland       PL
70                Portugal       PT
71                   Qatar       QA
72                 Romania       RO
73      Russian Federation       RU
74   Sao Tome and Principe       ST
75            Saudi Arabia       SA
76                 Senegal       SN
77                  Serbia       RS
78              Seychelles       SC
79            Sierra Leone       SL
80                Slovakia       SK
81                Slovenia       SI
82            South Africa       ZA
83                   Spain       ES
84               Swaziland       SZ
85                  Sweden       SE
86             Switzerland       CH
87              Tajikistan       TJ
88                Tanzania       TZ
89                 Tunisia       TN
90                  Turkey       TR
91            Turkmenistan       TM
92                  Uganda       UG
93                 Ukraine       UA
94    United Arab Emirates       AE
95          United Kingdom       GB
96              Uzbekistan       UZ
97                   Yemen       YE
98                Zimbabwe       ZW

## WW

In [163]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

168

In [164]:
df = pd.DataFrame([(e.text,e.get_attribute('for')) for e in es])
df.to_csv("/Users/ahakso/Desktop/maps/ww.csv",index=False)

                  0        1
0         Worldwide     None
1     North America  NORTHAM
2             LATAM    LATAM
3              APAC     APAC
4              EMEA     EMEA
..              ...      ...
163       Venezuela       VE
164         Vietnam       VN
165  Virgin Islands       VG
166           Yemen       YE
167        Zimbabwe       ZW

[168 rows x 2 columns]

In [165]:
df.style

## are all regions ww-major? - NOPE

In [167]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

168

### drop EMEA?

In [168]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

75

In [169]:
df = pd.DataFrame([(e.text,e.get_attribute('for')) for e in es])
df.to_csv("/Users/ahakso/Desktop/maps/ex-emea.csv",index=False)

### drop LATAM?

In [170]:
# this xpath from the chrome select menu
es = driver.find_elements(By.CSS_SELECTOR, '#portal-root-dropdown > div > ul > div.szh-menu__group > li > div')
print(len(es))

130

In [171]:
df = pd.DataFrame([(e.text,e.get_attribute('for')) for e in es])
df.to_csv("/Users/ahakso/Desktop/maps/ex-latam.csv",index=False)

In [172]:
df.style